h1 {
    
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.topcorner {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    
}

i{
    margin-right: 14px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}
